@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  width: 100%;
  flex-wrap: wrap;

  .card {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;

    &:hover {
      .box {
        transform: rotateY(180deg);
      }
    }

    .box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: 1s;
    }

    .imgBx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .contentBx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #333;
      transform: rotateY(180deg);
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      backface-visibility: hidden;

      div {
        transform-style: preserve-3d;
        transform: translateZ(180px);
        background: linear-gradient(45deg, #fe0061, #ffeb3b);
        padding: 10px;
        margin: 0 30px;
        border-radius: 15px;

        h2{
            font-size: 20px;
            color: white;
            letter-spacing: 1px;
            backface-visibility: hidden;
        }
        p{
            font-size: 16px;
            color: #fff;
            backface-visibility: hidden;
        }
      }
    }
  }
}
