/* h1 {
    color: green;
} 



.hola {
    color: blanchedalmond;
}

.Divdos {
    color: blueviolet;
}
.padre {
    background: red;
    width: 300px;
    height: 300px;
    margin:  20px 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 100px;
}

.span1 span {
    color: brown;
}

.hijo {
    height: 200px;
    background: white;
    margin: 120px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}

.container {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    gap: 50px;
    
}

.uno {
    background-color: blue;
    width: 200px;
    height:  200px;
    border-radius: 15px;
    
}

.dos {

    background-color: blueviolet;
    width: 200px;
    height:  200px;
    border-radius: 15px;
}

.tres {

    background-color: aqua;
    width: 200px;
    height:  200px;
    border-radius: 15px;
    position: fixed;
} */
/*---------------------------------------------------------------------------*/

/* .hijo span {
  background-color: white;
} */
/* -----------------------------------------------------------------------------*/
body {
  background-color: black;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0px;
}
/* .container {
  background-color: #202020;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  gap: 50px;
}

.uno {
  background-color: red;
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.dos {
  background-color: blueviolet;
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.tres {
  background-color: blue;
  width: 200px;
  height: 200px;
  border-radius: 15px;
} */
/* 
------------------------------------------------------------------------------------- */

/* .container {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.boxcontainer {
  background-color: violet;
  width: 400px;
  height: 400px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uno {
  background-color: red;
  width: 200px;
  height: 200px;
  border-radius: 20px;
} */

.padre {
    width: 200px;
    background-color: red;
    height: 200px;
    border-radius: 15px;
    position: relative;
}
.hijo {
    width: 50px;
    background-color: aquamarine;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
}
