* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  position: absolute;
  display: flex;
  min-height: 100vh;
  background: radial-gradient(#f0483a, #d10a20);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 100px;

  header {
    min-width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    .logo {
      max-width: 90px;
    }

    .navegation {
      display: flex;

      li {
        list-style: none;

        a {
          position: relative;
          color: white;
          text-decoration: none;
          margin-left: 40px;
        }
      }
    }
  }

  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .text {
      width: 100%;
      max-width: 600px;
      padding: 100px 0px;

      .btn {
        position: relative;
        display: inline-block;
        padding: 20px 50px;
        background-color: #fff;
        color: #333;
        font-size: 1.1em;
        font-weight: 500;
        border-radius: 40px;
        text-decoration: none;
        transition: 0.25s;

        &:hover {
          letter-spacing: 2px;
        }
      }

      h2 {
        color: #fff;
        font-size: 5em;
        font-weight: 300;
        line-height: 1.1em;

        span {
          font-weight: 700;
        }
      }

      p {
        color: white;
        font-weight: 100;
        font-size: 1.1em;
        line-height: 1.5em;
        margin: 20px 0px;
      }
    }

    .content-img {
      position: relative;

      .subconten-img {
        display: flex;

        .imgmuestra {
          width: 100%;
          max-width: 1000px;
        }
      }
    }
  }

  .footer {
    display: flex;
    position: absolute;
    bottom: 50px;
    width: 100%;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: flex-end;

    .sci {
      display: flex;

      li{
        list-style: none;

        a{
          color: white;
          font-size: 2em;
          margin-right: 20px;
          transition: 0.25s;
          display: inline-block;

          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    padding: 20px;
  }
  .footer {
    align-items: center;
    flex-direction: column-reverse;

    .sci {
      margin-top: 40px;
      margin-right: -80px;
    }
  }
}

