* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url(../img/f3.jpg) no-repeat center fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  &::before {
    content: "";
    position: absolute;
    bottom: -200px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(32, 8, 60) 20% transparent);
    transition: 0.5;
    z-index: 1;
  }
}

.card {
  z-index: 100;
  position: relative;
  height: 475px;
  width: 300px;
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: all 0.5s;
  &:hover {
    box-shadow: 0 0 50px #273234;
    .poster {
      &::before {
        bottom: 0;
      }
      img {
        filter: blur(5px);
        transform: translateY(-60px);
      }
    }
    .details {
      bottom: 0;
    }
  }
  .poster {
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      bottom: -200px;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0) 70%, transparent);
      transition: 0.5s;
      z-index: 1;
    }
    img {
      object-fit: cover;
      width: 100%;
      transition: 0.5s;
    }
  }

  .details {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 85%;
    bottom: -200px;
    left: 0;
    transition: 0.5s;
    z-index: 2;

    .imgcontent {
      color: #fff;
      margin: 0;
      padding: 0;
      font-size: 20px;
      text-align: start;
      img {
        width: 70%;
      }
      span {
        font-size: 14px;
        color: rgba(253, 253, 252);
      }
    }

    .rating {
      position: relative;
      padding: 5px 0;
      .fas,
      .far {
        color: yellow;
        margin-right: 2px;
        font-size: 16px;
      }

      span {
        color: #fff;
      }
    }

    .tags {
      position: relative;
      margin-top: 5px;
      margin-bottom: 5px;
      span {
        padding: 2px 5px;
        margin-right: 2px;
        color: #fff;
        display: inline-block;
        border-radius: 4px;
      }
      .fantasy {
        background: rgb(114, 49, 243);
      }
      .mystery {
        background: rgba(242, 7, 132);
      }
    }

    .info {
      position: relative;
      display: flex;
      margin-top: 25px;
      p {
        color: #fff;
        margin: 15px, 0 10px;
      }
    }

    .cast {
      position: relative;
      h4 {
        padding: 0;
        font-size: 20px;
        color: rgba(255, 255, 255);
      }

      ul {
        margin: 5px 0 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          width: 35px;
          height: 35px;
          margin-right: 10px;
          border: solid rgba(255, 255, 255, 1);
          border-radius: 20px;
          transition: 0.5s;
          img {
            overflow: hidden;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px;
          }
        }
      }
    }
  }
}