* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  ul {
    position: relative;
    display: flex;
    padding: 15px;
    font-size: 15px;

    li {
      position: relative;
      list-style: none;
      width: 60px;
      height: 60px;
      background-color: white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 10px 25px rgb(0, 0, 0, 0.1);
      border-radius: 15px;
      transition: 0.25s;
      &:hover {
        transform: translateY(-10px);
        width: 180px;
        box-shadow: 0px 10px 25px rgb(0, 0, 0, 0);
        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 0.5;
        }

        ion-icon {
          color: white;
          transform: scale(0);
          transition-delay: 0.25s;
        }

        .title {
            transform: scale(1);
            transition-delay: 0.25s;
        }
      }
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 60px;
        background: linear-gradient(45deg, var(--i), var(--j));
        transition: 0.25s;
        opacity: 0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        width: 100%;
        height: 100%;
        border-radius: 60px;
        background: linear-gradient(45deg, var(--i), var(--j));
        transition: 0.5s;
        filter: blur(15px);
        z-index: -1;
      }

      ion-icon{
        color: #777;
        font-size: 1.75em;
        transition: 0.5s;
        transition-delay: 0.25;
      }

      span{
        position: absolute;
      }

      .title {
        color: white;
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        transform: scale(0);
        transition: 0.5s;
        transition-delay: 0s;
      }
    }
  }
}
