* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #161623;
  min-height: 100vh;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0px;

    .card {
      position: relative;
      z-index: 1;
      width: 300px;
      height: 400px;
      background: rgb(255, 255, 255, 0.05);
      margin: 20px;
      box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      .imgBx {
        img {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }
      }

      .content {
        position: absolute;
        bottom: 162px;
        width: 100%;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;
        transition: 0.5s;
        transition-delay: 0.5s;
        backdrop-filter: blur(15px);
        box-shadow: 0 -10px 10px rgb(0, 0, 0, 0.1);
        border: 1px solid rgb(255, 255, 255, 0.2);
        border-radius: 15px;

        .contentBx {
          h3 {
            color: #fff;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            margin: 20px 0 15px;
            line-height: 50px;
            transition: 0.5s;
            transform: translateY(-20px);
            transition-delay: 0.6s;
            opacity: 0;

            span{
                font-size: 15px;
                text-transform: initial;
                font-weight: 500;
            }
          }
        }

        .sci {
            position: relative;
            bottom: 10px;
            display: flex;
            li {
                list-style: none;
                margin: 0 10px;
                transform: translateY(40px);
                transition: 0.5s;
                transition-delay: calc(0.2s * var(--i));
                opacity: 0;
                a {
                    color: white;
                    font-size: 25px;
                }
            }
        }
      }
      &:hover .content {
        bottom: 0;
        transition-delay: 0s;
      }

      &:hover .content .contentBx h3 {
        transform: translateY(0px);
        opacity: 1;
      }
      
      &:hover {
        .sci {
            li {
                transform: translateY(0px);
                opacity: 1;
            }
        }
      }
    }
  }
}
