@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    background: radial-gradient(#f49230, #f75423);
    color: #f5f5f5;
    font-weight: 300;
    transition: .3s;
}

.container {
    position: relative;
    width: 280px;
    height: 480px;
    perspective: 800px;
    .card{
        position: relative;
        width: 320px;
        height: 450px;
        transform-style: preserve-3d;
        cursor: pointer;
        transform: translateZ(-140px);
        transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
        &>div{
            position: absolute;
            width: 320px;
            height: 450px;
            padding: 34px 21px;
            transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
        }
        &:hover {
            transform: translateZ(-160px) rotateY(-90deg);
            .front{
                opacity: 0;
            }
            .rigth {
                opacity: 1;
            }
            ~.img-container{
                img{
                    transform: scale(0.9) translateX(77%) translateY(100%) rotateZ(80deg);
                }
            }
        }
        .front{
            background-image: linear-gradient(180deg, rgb(17,17,17) 0%, rgba(92,91,94,0) 100%);
            transform: rotateY(0deg) translateZ(160px);
            border-radius: 34px;
            .precio{
                position: absolute;
                bottom: 34px;
                left: 21px;
                font-size: 34px;
                opacity: .64;
            }
        }
        .rigth{
            background-image: linear-gradient(0deg, rgb(17,17,17) 0%, rgba(92,91,94,0) 100%);
            transform: rotateY(90deg) translateZ(160px);
            opacity: 0.08;
            border-radius: 34px;
            ul{
                margin-left: 21px;
                padding: 0;
                font-size: 16px;
                font-weight: 300;
                list-style: none;
                li{
                    padding-bottom: 8px;
                    position: relative;
                    &::before{
                        content: 'x';
                        position: absolute;
                        left: -21px;
                        opacity: .55;
                    }
                }
            }
            button{
                position: absolute;
                right: 21px;
                bottom: 34px;
                border: none;
                box-shadow: none;
                color: black;
                background-color: white;
                font-size: 15px;
                letter-spacing: -.25px;
                font-weight: 600;
                padding: 13px 34px;
                border-radius: 15px;
                box-shadow: 8px 5px 13px rgba(34,34,34,.08);
                cursor: pointer;
            }
        }
    }

    .img-container{
        animation: animate 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
        backface-visibility: hidden;
        img{
            transform-origin: top right;
            transition: 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
            transition-delay: 100ms;
            transform: translateX(42%) rotateZ(13deg) skewX(3deg);
            width: 100%;
        }
    }
}
@keyframes animate{
    0%{
        transform: translateZ(20px);
    }
    100%{
        transform: translateY(-21px) translateX(-13px) translateZ(30px);
    }
}

@media only screen and (max-width: 600px){
    body{
        transform: scale(.67);
        transition: 0.3s;
    }
}