body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: blueviolet;
}

.contenedor .sub-contenedor {
  width: 600px;
  border-radius: 10px;
  background-color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgb(61, 13, 97, 1);
}

.contenedor .sub-contenedor .contenido {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  flex: auto;
}

.contenedor .sub-contenedor .contenido .icono {
  margin-right: 10px;
}

.contenedor .sub-contenedor .contenido .menesaje .title {
  font-weight: bolder;
}

.contenedor .sub-contenedor .contenido .menesaje .text {
  font-weight: 100;
}

.contenedor .sub-contenedor .actions {
  padding: 10px 0px;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.contenedor .sub-contenedor .actions button {
  border: none;
  padding: 15px;
  min-width: 120px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.contenedor .sub-contenedor .actions .btn-descargar {
background-color: blueviolet;
  color: black;
  border: solid 1px black;
}
.contenedor .sub-contenedor .actions .btn-descargar:hover {
  color: white
}

.contenedor .sub-contenedor .actions .btn-volver {
    background-color: red;
  color: black;
  border: solid 1px black;
}
.contenedor .sub-contenedor .actions .btn-volver:hover {
  color: white
}

@media (max-width: 600px) {
    .contenedor .sub-contenedor {
        width: 80%;
    }
    .contenedor .sub-contenedor .actions {
        flex-direction: column;
    }
}
