html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --color1: #181c1fff;
  --color2: rgb(96, 24, 173);
}

body {
  font-family: sans-serif;
  background-color: var(--color1);
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-position: center 50vw bottom 50vw;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  width: 328px;
  height: 72%;
  border-radius: 16px;
  box-shadow: 2px 2px 15px rgb(53, 8, 84, 0.5);
  overflow: hidden;
  &-header {
    width: 100%;
    height: 30%;
    display: block;
  }
  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(84, 9, 150);

    &-contentimg {
      border: 5px solid #000;
      border-radius: 50%;
      background-color: rgb(129, 88, 168);
      box-shadow: 0px -10px 20px black;
      display: flex;
      margin-top: calc(-80px - 8px);

      &-img {
        border-radius: 50%;
      }
    }

    &-title {
      margin-top: calc(15px - 8px);
      font-size: 3rem;
      span {
        color: var(--color2);
      }
    }

    &-text {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0px;
      display: flex;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-poder {
      text-align: center;
      margin-bottom: 2rem;
      margin-top: 2rem;

      &-h31 {
        font-size: 1.8rem; // prueba 1.3rem, 1.5rem o 20px
        font-weight: 550;
        margin-top: 0px;
        margin-bottom: 10px;
      }

      &-imagen {
        height: 9rem;
        width: 8rem;
        border-radius: 10px;
        border: 3px solid black;
        box-shadow: 1.5px 1.5px 1.5px rgb(57, 6, 119);
      }

      &-imagen2 {
        height: 9rem;
        width: 8rem;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 1.5px 1.5px 1.5px rgb(57, 6, 119);
      }
    }
  }
}
