* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #011, #fff);
  .player {
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    width: 350px;
    background: #fff;
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
    .imgBx {
      position: relative;
      width: 100%;
      height: 350px;
      border-radius: 15px;
      img {
        border-radius: 15px 15px 0 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    audio{
        width: 100%;
        outline: none;
    }
  }
}
