body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: cornsilk;
}

.Imagenes-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-wrap: wrap
  
}

.Imagenes-container .imagen {
  position: relative;
  margin-right: -20px;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
}

.Imagenes-container .imagen img {
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
}

.Imagenes-container .imagen .nombre-goku {
  position: absolute;
  background-color: black;
  border-radius: 5px;
  color: white;
  min-width: 100px;
  display: none;
  width: 150px;
  top: -40px;
  left: calc(50% - 90px);
  padding: 10px 15px;
}
.Imagenes-container .imagen .nombre-goku .text {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
}
.Imagenes-container .imagen:hover .nombre-goku {
  display: inline-block;
  transform: translateY(-20px);
}

.Imagenes-container .imagen .nombre-goku::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    left: 40%;
    bottom: -20px;
    border-top: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
 .Imagenes-container .imagen:hover img {
    transform: translateY(-10px);
 }

@media (max-width: 680px) {
    .Imagenes-container {
        flex-direction: column;
        height: 150vh;
    }
}