body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  background-color: #14161a;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 11px;
}

nav a:hover {
    color: blueviolet;
}

@media (max-width: 680px) {
    header {
        flex-direction: column;;
    }
    nav {
        padding: 10px 0px;
    }
}